@model Lab2_ViewComponent.Models.ArticleModel;
@{
    ViewData["Title"] = "Index";
    string value = (string) ViewData["comment"];
}
<h2>Article page for displaying the article</h2>
<form asp-action="PostComment">    
    <div>
        Comment: <input type="text" asp-for="Comments"/>
    </div>    
    <br />
    <div>
        <input type="submit" value="Post Comment" />
    </div>
</form>

<br /><br />

<h3>Comments History:</h3>
@await Component.InvokeAsync("Comment", new {comment = value})

